#Commented
#altair
#numpy
#pandas
#pydeck
#streamlit
##############################


################Added per this video: https://www.youtube.com/watch?v=RIWbalZ7sTo################
langchain==0.0.154
PyPDF2==3.0.1
python-dotenv==1.0.0
streamlit==1.18.1
faiss-cpu==1.7.4
streamlit-extras
################
